* {
	font-family: 'Montserrat', sans-serif;
}

p {
	letter-spacing: 1.25px;
	line-height: 1.6;
}

.logo-font {
	font-family: 'Shrikhand', cursive;
	font-size: 1.9rem;
	letter-spacing: .3rem;
}
.logo-font-button {
	font-family: 'Shrikhand', cursive;
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: 1.25px;
	line-height: 1.6;
}
