* {
	font-family: 'Montserrat', sans-serif;
}

p {
	letter-spacing: 1.25px;
	line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #f8f8f8;
}

.logo-font {
	line-height: 1.6;
	font-family: 'Shrikhand', cursive;
	/* font-size: 1.9rem; */
	letter-spacing: .3rem;
	text-decoration: none;
}

.logo-page-margin {
	margin-bottom: .5rem;
}

.h1 {
	font-size: 1.9rem;
}
.h4 {
	font-size: 1.1rem;
}
.h5 {
	font-size: 1rem;
}

.inline {
	display: inline-block;
}

.giant {
	font-size: 2.3rem;
}
.center {
	text-align: center;
}
.highlight {
	background-color: #f8f8f8;
	color: #f21de4;
	padding: .4rem;
	border-radius: 10px;
}

.highlight-small {
	background-color: #f8f8f8;
	color: #f21de4;
	padding: .2rem;
	border-radius: 10px;
}

.logo-font-button {
	font-family: 'Shrikhand', cursive;
	font-size: 1rem;
	font-weight: normal;
	letter-spacing: 1.25px;
	line-height: 1.2;
	box-shadow: inset -15px -15px 22px #ce19c2,
		inset 15px 15px 22px #ff21ff;
	text-shadow: -1px -1px #dcdcdc, 1px 1px #585858;
}

.logo-font-button:active {
	text-shadow: 1px 1px #dcdcdc, -1px -1px #585858;
}

.no-box-shadow {
	box-shadow: none;
}

*/ .stats-column-title {
	font-size: .7rem;
	display: inline-block;
}
